<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-light rounded-3" id="jumbotron">
    <div class="container-fluid py-5 mt-5" style="margin: auto; width: 75%; text-align: center;">
      <h1 class="display-5">Hello I'm Amadaya</h1>
      <h3>programmer and cat lover</h3>
      <p>
        Check out some of my work <%= link_to 'here', projects_path %>!
      </p>
    </div>
  </div>
</div>