<div class="center-text" id="faq_div">
  <h1 id="faq_header">FAQ</h1>
  <!--acknowledgements-->
  <div class="qadiv">
    <h3><u>Did you have any help with this?</u></h3>
    <p class="answer_sec">Yep! My friends <a href="https://github.com/smmr0" id="sumlink">Summer</a> (helped me with creating the search) and Helena (helped me with data entry).</p>
  </div>
  <!--how to use-->
  <div class="qadiv">
    <h3><u>How do I use the search box?</u></h3>
    <p class="answer_sec">
      First, there is a dropdown menu with four categories: Squish Name, Collector Number, Squishdate, and Description. Once you pick a category, you put your search in
      the text box. Some categories have to be in a certain format. Collector number has to be a number only and squishdate has to be in mm.dd format.
    </p>
  </div>
  <!--missing squish-->
  <div class="qadiv">
      <h3><u>I'm looking for a specific squish, but I can't find it.</u></h3>
      <p class="answer_sec">There are a few reasons why a squish wouldn't be in the database:</p>
      <ul style="list-style-position:inside;">
          <li class="answer_sec">
              I stopped updating the database! I've moved on to different projects, sorry.
          </li>
          <li class="answer_sec">
              It didn't have a squishdate. This search is primarily designed to find specific squishdates, so if a squish doesn't have one, then they were left out.
              This might change in the future, but for now the focus is on the dates.
          </li>
          <li class="answer_sec" id="bottom_li">
              It was a variant or a special type of squish. I didn't include variants for the sake of brevity, so if the squish has a dash in the collector number, it's not
              included in the database. Also, Fuzzamallows and Squishdoos have special collector numbers, so they weren't included either.
          </li>
      </ul>
  </div> 
  <!--how to contact me-->
  <div class="qadiv">
    <h3><u>How can I contact you?</u></h3>
    <p class="answer_sec">Click the email icon at the top of the page!</p>
  </div>
</div>