<div class="container mt-5">
            <!--Row 1-->
            <div class="row justify-content-md-center">
                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Fire spread sim</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: Java</h6>
                      <a href="https://github.com/amadayami/mobileAgents" class="card-link project_card_link">Github</a>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Scrabble solver</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: Java</h6>
                      <a href="https://github.com/amadayami/scrabbleSolver" class="card-link project_card_link">Github</a>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Dominoes</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: Java</h6>
                      <a href="https://github.com/amadayami/dominoes" class="card-link project_card_link">Github</a>
                    </div>
                </div>
            </div>

            <!--Row 2-->
            <div class="row justify-content-md-center">
                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Tile color match</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: Java</h6>
                      <a href="https://github.com/amadayami/tiles" class="card-link project_card_link">Github</a>
                    </div>
                </div>
    
                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Connect Four</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: Java</h6>
                      <a href="https://github.com/amadayami/connectFour" class="card-link project_card_link">Github</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem; margin: 15px;">
                    <div class="card-body col-sm">
                      <h5 class="card-title">Misc Code Snippets</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Made with: C and Haskell</h6>
                      <a href="https://github.com/amadayami/miscSchool" class="card-link project_card_link">Github</a>
                    </div>
                </div>
            </div>
        </div>