<div class="container mx-auto mt-5">
  <div class="row border border-3 border-primary py-3">
    <div class="col-8">
      <%= render 'layouts/carousel' %>
    </div>
    <div class="col-4 justify-content-center text-center">
      <h1>Weather Master</h1>
      <h5>
      Control the elements to demolish a small town! You are a meta-human
      capable of controlling four kinds of disaster: lightning, fire,
      earthquakes, and meteoroids. Can you master the elements and beat
      the clock?
      </h5>
      <button id="download-button">
        <%= link_to 'Download', "/Weather Master.zip", id: "download-link" %>
      </button>
    </div>
  </div>
</div>