@font-face {
  font-family: 'Ubuntu-Title';
  src: url('Ubuntu-Title.ttf');
}

@font-face {
  font-family: 'Chumbly';
  src: url('chumbly.ttf')
}

@font-face {
  font-family: 'Nebulous-Content';
  src: url('Nebulous Content.otf')
}

@font-face {
  font-family: 'Olney-Light';
  src: url('olney_light.otf')
}

body {
  font-family: 'Chumbly';
  padding-bottom: 80px;
}

#navbar-body {
  background-color: #77899d;
}

#footer-body {
  background-color: #77899d;
}

#footer-text {
  font-family: 'Ubuntu-Title';
  color: white;
}

.footer-link {
  color: white;
}

a:hover {
  color: #53b8f2 !important;
}

/* Home page styling */

#home-container{
  margin-top: 80px;
}

#jumbotron{
  background-image: url('Home Popup.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white !important;

  color: black;
}

/* Weather Master styling */

#download-button {
  background-color: $primary;
  padding: 8px 30px;
  font-size: 1.8em;
}

#download-link {
  text-decoration: none;
  color: white;
}

/* Nav bar styling */
.inner_main_menu {
  margin: 0 auto;
  width: 1170px;
  ul {
    margin: 0;
    padding: 0;
    padding-top: 46px;
    list-style: none;
    text-align: right;
    li {
      float: none;
      display: inline-block;
      &:nth-child(1) { float: left; }
      &:nth-child(2) { float: left; }
      a {
        color: white;
        font-size: 20px;
        text-transform: lowercase;
        display: block;
        padding: 10px 20px;
      }
    }
  }
}

#main_menu {
  width: 100%;
  position: relative;
  background: #77899d;
  background: linear-gradient(to top, #77899d 50%, white 50%);
}

.logo_area {
  width: 300px;
  height: 140px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
  text-align: center;
  img {
    background: white;
  }
}

.center-text{
  text-align: center;
  display: block;
  position: relative;
}

#search_header {
  margin-top: 55px;
  margin-bottom: 1px;
}

#faq_div{
  width: 90%;
  margin: auto;
}

#faq_header{
  margin-top: 55px;
}

.answer_sec{
  font-size: 18px;
}

#help_link {
  font-size: 12;
  text-decoration: none;
}

#query_print{
  text-align: center;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}