@font-face {
  font-family: 'Ubuntu-Title';
  src: url('Ubuntu-Title.ttf');
}

@font-face {
  font-family: 'Chumbly';
  src: url('chumbly.ttf')
}

@font-face {
  font-family: 'Nebulous-Content';
  src: url('Nebulous Content.otf')
}

@font-face {
  font-family: 'Olney-Light';
  src: url('olney_light.otf')
}

body {
  font-family: 'Chumbly';
  padding-bottom: 80px;
}

#navbar-body {
  background-color: #77899d;
}

#armadillo-nav {

}

#footer-body {
  background-color: #77899d;
}

#footer-text {
  font-family: 'Ubuntu-Title';
  color: white;
}

.footer-link {
  color: white;
}

a:hover {
  color: #53b8f2 !important;
}

/* Home page styling */

#home-container{
  margin-top: 20px;
}

#jumbotron{
  background-image: url('Home Popup.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white !important;

  color: black;
}

/* Weather Master styling */

#download-button {
  background-color: $primary;
  padding: 8px 30px;
  font-size: 1.8em;
}

#download-link {
  text-decoration: none;
  color: white;
}