<footer class="footer fixed-bottom" style="background-color:#707e8d;">
    <div class="container" style="margin:auto; width: 50%;">
      <p class="text-muted" id="footer-text">Copyright <i class="fa fa-copyright"></i> <%= link_to "Armadillo_Codes", "https://www.armadillo-codes.com", id: "footer-text" %></p>
    </div>
</footer>